# macOS system file
.DS_Store

# Robot Framework test results
*.log
*.html
*.xml
*.png

# Python virtual environment
venv/

# Logs and output
log.html
output.xml
report.html
selenium-screenshot-*.png

# IDE/config folders
.idea/